<%-include('./partials/header')%> <%-include('./partials/navbar')%>

<div class="container">
  <h1 class="position-absolute top-50 start-50 translate-middle">
    <%=error_msg%>
  </h1>
</div>

<%-include('./partials/footer')%>
